$content-width: 1200px;
$main: #222122;
$font-style: 'Lato', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Playfair Display', serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #FFFFFF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 