main.columns {
	display: flex;
	
	aside {
		width: 30%;
		position: relative;
		

		&::after {
			content: '';
			position: absolute;
			border-right: 5px solid #D8D8D8;
			width: 5px;
			height: calc(100% - 4em);
			right: 0;
			top: 5em;
		}
	}

	.block {


		p {
			position: relative;
			margin-right: 0;
			padding-right: 1em;
			&::after {
				content: '';
				position: absolute;
				border-right: 5px solid #A076CA;
				width: 5px;
				height: 2em;
				right: 0;
				z-index: 1;
				top: 0
			}
	}


		strong,
		em {
			display: block;
		}
		strong{
			display: inline-block;
			font-size: 1.4em;
			text-transform: uppercase;
			font-family: $heading-font;
		}

		&.-with-img {
			margin-top: -80px;
			img {
				margin: 0 auto 10%;
				display: block;
				box-shadow: 0 0 4px 0 rgba(0,0,0,0.18);
				border-radius: 50%;
				border: 8px solid #FFFFFF;
			}

		}
	}

	article {
		width: 70%;
		margin-top: 100px;
	}
}