body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.1;
}
h1 {
	font-size: 2.6em;
	color: #ffffff;
	text-align: left;	
	padding: 0;
	margin: 0;
	display: block;
	font-weight: 300;
	a,
	a:visited {
		text-decoration: none;
		color: #ffffff;
	}
}
h2 {
	display: inline-block;
	font-size: 1.8em;
	text-transform: uppercase;
}
h4 {
	font-size: 1.2em;
	color: #ffffff;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: block;
	font-weight: 400;
}

h5 {
	font-size: .8em;
	color: #222122;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: inline-block;
	font-weight: 400;
	line-height: 5px;
	a,
	a:visited {
		font-weight: bold;
		color: #222122;
		text-decoration: none;
	}
}

h6 {
	height: 18px;
	margin-left: 5em;
	margin-bottom: 0px;
	width: 500px;
	color: #5C5655;
	font-family: Lato;
	font-weight: 400;
	font-size: 15px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;

}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 162px 18px 0 32px;
	text-align: left;
	height: 340px;
	background-image: url("/heroImages/about.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	&#casestudies{background-image: url("/heroImages/casestudies.png");}
	&#experience{background-image: url("/heroImages/experience.png");}
	&#contact{background-image: url("/heroImages/contact.png");}
	.container{
		display: block;
		max-width: 1044px;
		width: 100%;
		
	}
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;

	&.columns {
		display: flex;
		
		aside {
		  width: 30%;
	  }

	  article {
		  width: 70%;
	  }
	}
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

.thumbnails {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1.5em;
	margin-bottom: 50px;
	img {
		max-width: 300px;
		margin-bottom: 50px;
	}
}


p {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	margin-top: 10px;


}

.wrapper {
	text-align: left;
	margin-left: 50px;
    display: flex;
    max-width: 100%;
    width: 100%;
	align-content: center;
	align-items: center;
	div:first-child{max-width: 30%;}
	div:nth-child(2){max-width: 60%;
		margin-left: 5%;
		margin-right: 5%;}
	h6{
		margin-left:75px;
		margin-bottom:0px;
	}
}

.wrapper2 {
	text-align: left;
	margin-left: 50px;
    display: flex;
    max-width: 100%;
    width: 100%;
	align-content: center;
	align-items: center;
	div:first-child{max-width: 50%;}
	div:nth-child(2){max-width: 50%;
		margin-left: 5%;
		margin-right: 5%;}
	h6{
		margin-top:-40px;
		margin-left: 10px;
		margin-bottom:0px;
	}
}

.wrapper3 {
	text-align: left;
	margin-left: 50px;
    display: flex;
    max-width: 100%;
    width: 100%;
	align-content: center;
	align-items: center;
	div:first-child{max-width: 50%;
	h6{
		margin-left: 0px;
	}
}
	div:nth-child(2){max-width: 50%;
	margin-top: -30px;}
	h6{
		margin-top: 40px;
		margin-bottom:0px;
	}
	.img{	
		margin-top: -20px;
		margin-bottom: -20px;

	}
}

.wrapper4 {
	text-align: left;
	margin-left: 50px;
    display: flex;
    max-width: 100%;
    width: 100%;
	align-content: center;
	div:first-child{max-width: 40%;
	h6{
		margin-left: 10px;
	}
}
	div:nth-child(2){max-width: 60%;
	margin-top: -30px;}
	h6{
		margin-top: 40px;
		margin-bottom:0px;
	}
	.img{	
		margin-top: -20px;
		margin-bottom: -20px;

	}
}


.wrapper5 {
	text-align: left;
    display: flex;
    max-width: 100%;
    width: 100%;
	div:first-child{max-width: 50%;}
	div:nth-child(2){max-width: 50%;
	h6{
		margin-top: 40px;
		margin-bottom:0px;
	}
}
}

.img{
	max-width: 80%;
	margin-top: -20px;
	-webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.8); /* FF3.5+ */
	-ms-transform: scale(0.8); /* IE9 */
	-o-transform: scale(0.8); /* Opera 10.5+ */
	transform: scale(0.8);
			/* IE6–IE9 */
			filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');	
	margin:  auto;
	display: block;
		
	
	}



/* Navigation */

.menu {
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color:rgba($color: #ffffff, $alpha: .9);
	height: 44px;
	nav {
		float: left;
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			justify-content: space-evenly;
			li {
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-size: small;
					font-family: 'lato', sans-serif;
					text-transform: uppercase;
					line-height: auto;
					margin-bottom: -1px;
					height: 44px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}	
		
	
		}
		&.transparent{
			background-color: #ffffff;
			border-bottom: 1px solid #898989;
			top:0px
		}
}
footer {
	background-color: #E5E4E8;
	width: 100%;
	margin-top: 100px;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: space-around;
		flex-wrap: wrap;
		max-width: $content-width;
		width: 100%;
		padding: 1.5em;
	}

}
