body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 18px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.1;
}
h1 {
	font-size: 2.6em;
	color: #ffffff;
	text-align: left;	
	padding: 0;
	margin: 0;
	display: block;
	font-weight: 300;
	a,
	a:visited {
		text-decoration: none;
		color: #ffffff;
	}
}
h2 {
	font-size: 2em;
}
h4 {
	font-size: 1.2em;
	color: #ffffff;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: block;
	font-weight: 400;
}


h5 {
	font-size: .8em;
	color: #222122;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: inline-block;
	font-weight: 400;
	line-height: 5px;
	a,
	a:visited {
		font-weight: bold;
		color: #222122;
		text-decoration: none;
	}
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}
header {
	background: $header;
	padding: 162px 18px 0 32px;
	text-align: left;
	height: 340px;
	background-image: url("/heroImages/about.png");
	&#casestudies{background-image: url("/heroImages/casestudies.png");}
	&#experience{background-image: url("/heroImages/experience.png");}
	&#contact{background-image: url("/heroImages/contact.png");}
	.container{
		display: block;
		max-width: 1044px;
		width: 100%;
	}
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

.img {
	margin: 50px auto;
	display: block;
}

p {
	margin-left: 50px;
	margin-right: 50px;
}

/* Navigation */

.menu {
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color:rgba($color: #ffffff, $alpha: .9);
	height: 44px;
	nav {
		float: left;
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			justify-content: space-evenly;
			li {
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-size: small;
					font-family: 'lato', sans-serif;
					text-transform: uppercase;
					line-height: auto;
					margin-bottom: -1px;
					height: 44px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}	
		
	
		}
		&.transparent{
			background-color: #ffffff;
			border-bottom: 1px solid #898989;
			top:0px
		}
}
footer {
	background-color: #E5E4E8;
	width: 100%;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: space-around;
		flex-wrap: wrap;
		max-width: $content-width;
		width: 100%;
		padding: 1.5em;
	}

}
