body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	
}
article {
	a,
	a:visited{
		color: #DF6D6D;
		font-weight: 200;
		
	}
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.1;
}
h1 {
	font-size: 2.6em;
	color: #ffffff;
	text-align: left;	
	padding: 0;
	margin: 0;
	display: block;
	font-weight: 300;
	a,
	a:visited {
		text-decoration: none;
		color: #ffffff;
	}
}
h2 {
	display: inline-block;
	font-size: 1.8em;
	text-transform: uppercase;
}
h4 {
	font-size: 1.2em;
	color: #ffffff;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: block;
	font-weight: 400;
}

h5 {
	font-size: .8em;
	color: #222122;
	font-family: $font-style;
	padding: 0;
	margin: 0%;
	display: inline-block;
	font-weight: 400;
	line-height: 5px;
	a,
	a:visited {
		font-weight: bold;
		color: #222122;
		text-decoration: none;
	}
}

h6 {
	height: 18px;
	margin-left: 5em;
	margin-bottom: 0px;
	color: #5C5655;
	font-family: Lato;
	font-weight: 400;
	font-size: 15px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 5%;
	@media only screen and (max-width: 600px) {
		margin-left: 0;
	}

}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 162px 18px 0 32px;
	text-align: left;
	height: 340px;
	background-image: url("/heroImages/about.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	&#casestudies{background-image: url("/heroImages/casestudies.png");}
	&#experience{background-image: url("/heroImages/experience.png");}
	&#contact{background-image: url("/heroImages/contact.png");}
	.container{
		display: block;
		max-width: 1044px;
		width: 100%;
		
	}
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
	position: relative;
	min-height: 100%;

	&.columns {
		display: flex;
		aside {
			width: 30%;
		}
		article {
			width: 70%;
		}
	}
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

.thumbnails {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1.5em;
	img {
		max-width: 300px;
		margin-bottom: 50px;
	}
}


p {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
}


.img{
	max-width: 80%;
	margin-top: -20px;
	-webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.8); /* FF3.5+ */
	-ms-transform: scale(0.8); /* IE9 */
	-o-transform: scale(0.8); /* Opera 10.5+ */
	transform: scale(0.8);
	margin:  auto;
	display: block;

	@media only screen and (max-width: 600px) {
		-webkit-transform: scale(1); /* Saf3.1+, Chrome */
		-moz-transform: scale(1); /* FF3.5+ */
		-ms-transform: scale(1); /* IE9 */
		-o-transform: scale(1); /* Opera 10.5+ */
		transform: scale(1);
	}
	
	}

li{
	margin-bottom: 5px; 
}

ul{
	margin-bottom: 5px; 
}

/* Navigation */

.menu {
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color:rgba($color: #ffffff, $alpha: .9);
	height: 44px;
	transition: top .8s;
	nav {
		float: left;
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			justify-content: space-evenly;
			li {
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-size: small;
					font-family: 'lato', sans-serif;
					text-transform: uppercase;
					line-height: auto;
					margin-bottom: -1px;
					height: 44px;
					box-shadow: 0;
					&:hover{
						text-decoration: bold;
						color: $main;
						border-bottom: 2px solid #222122;
					}
					&:active {
						background: $header;
						text-decoration: bold;
						color: $main;
					}

					@media only screen and (max-width: 600px) {
						padding: 15px 5px;
						font-size: x-small;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}	
		
	
		}
		&.transparent{
			background-color: #ffffff;
			border-bottom: 1px solid #898989;
			top:0px
		}
}
footer {
	background-color: #E5E4E8;
	margin-top: 50px;
	position: inherit;
	bottom: 0;
	width: 100%;
	
	.container{
		display: flex;
		justify-content: space-between;
		align-items: space-around;
		flex-wrap: wrap;
		max-width: $content-width;
		width: 100%;
		padding: 1.5em;
	}
	a:hover{
		color: #DF6D6D;
	}
	@media only screen and (max-width: 600px) {
		.container{
			display: block;
			height: 6em; 

		}
	}
}
