<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <main>
      <article>{{ content }}</article>
    </main>
    {% include footer.html %}
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script>
    $(window).scroll(function() {
    if ($(document).scrollTop() > 300) {
      $('.menu').addClass('transparent');
    } else {
      $('.menu').removeClass('transparent');
    }
    });
  </script>
</html>